body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    
    font-color: black;
    padding: 20px 0;
    text-align: center;
}
header::before{
    background-image: url("https://as1.ftcdn.net/v2/jpg/04/81/39/40/1000_F_481394004_83YBZm0XDW7fp5jXLF6viVr0O5UfPrM4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}
h1 {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffc107; 
}

#inicio {
    text-align: center;
    padding: 40px 0;
}

#inicio img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#caracteristicas {
    padding: 40px 0;
}

.caracteristica {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.caracteristica:hover {
    transform: translateY(-5px);
}

.caracteristica img {
    width: 80px;
    margin-bottom: 20px;
}

.caracteristica h3 {
    color: #007bff;
    margin-bottom: 10px;
}

#beneficios {
    padding: 40px 0;
    text-align: center;
}

#beneficios ul {
    list-style: none;
    padding: 0;
    display: inline-block; 
    text-align: left;
}

#beneficios li {
    margin-bottom: 10px;
}

#contacto {
    padding: 40px 0;
}

#contacto input,
#contacto textarea {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#contacto textarea {
    height: 150px;
    resize: vertical;
}

#contacto button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contacto button:hover {
    background-color: #0056b3;
}

footer {
    font-color: black;
    text-align: center;
    padding: 20px 0;
}
footer::before {
    background-image: url("https://as1.ftcdn.net/v2/jpg/04/81/39/40/1000_F_481394004_83YBZm0XDW7fp5jXLF6viVr0O5UfPrM4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}
/* Para las animaciones */
.ocultar {
  opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

.mostrar {
  opacity: 1; 
  transform: translateY(0);
}
